<p class="contactinfo"><a href="#bio">Bio</a></p>
{{ $workingPapers := readFile "content/working_papers.yaml" | transform.Unmarshal }}
{{ with $workingPapers }}
<p class="contactinfo"><a href="#workingpapers">Working Papers</a></p>
{{ end }}
{{ $publications := readFile "content/publications.yaml" | transform.Unmarshal }}
{{ with $publications }}
<p class="contactinfo"><a href="#publications">Publications</a></p>
{{ end }}
{{ $olderPapers := readFile "content/older_papers.yaml" | transform.Unmarshal }}
{{ with $olderPapers }}
<p class="contactinfo"><a href="#older_papers">Older Papers</a></p>
{{ end }}
