{{ define "main" -}}
<h2 id="bio">Bio</h2>
{{ with .GetPage "aboutme.md" }}
{{ .Content }}
{{ end }}

{{ $scratch := newScratch }}
{{ $scratch.Set "pubcnt" 0 }}

{{ $workingPapers := readFile "content/working_papers.yaml" | transform.Unmarshal }}
{{ with $workingPapers }}
<hr>
<h2 id="workingpapers">Working Papers</h2>
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}   
{{ end }}
{{ end }}

{{ $publications := readFile "content/publications.yaml" | transform.Unmarshal }}
{{ with $publications }}
<hr>
<h2 id="publications">Publications</h2>
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}   
{{ end }}
{{ end }}

{{ $olderPapers := readFile "content/older_papers.yaml" | transform.Unmarshal }}
{{ with $olderPapers }}
<hr>
<h2 id="older_papers">Older Papers</h2>
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}   
{{ end }}
{{ end }}

{{ .Content }}
{{- end }}
